<div id="payment-form">

  <app-card-number></app-card-number>

  <div class="date-and-code">
    <app-expiry-date></app-expiry-date>
    <app-cvv></app-cvv>
  </div>

  <app-pay-button (payButtonClicked)="pay()"></app-pay-button>

  <div>
    <span class="error-message error-message__card-number"></span>
    <span class="error-message error-message__expiry-date"></span>
    <span class="error-message error-message__cvv"></span>
  </div>
  <img id="icon-cvv-error" src="assets/card-icons/american express.svg" />
  <p class="success-payment-message">{{ cardToken }}</p>
</div>
